@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-slabo: "Slabo 27px", serif;
    --font-sans: "Funnel Sans", sans-serif;
}

/*
 * https://stackoverflow.com/questions/5687035/css-bolding-some-text-without-changing-its-containers-size 
 * basically prevents bold text from changing parent div size compared to normal text
 */
li::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}