@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme static {
    --font-slabo: "Slabo 27px", serif;
    --font-sans: "Funnel Sans", sans-serif;
    --color-background: white;
    --color-foreground: rgba(240, 240, 240, 0.9);
    --color-primary: black;

    /* sky colors */
    --color-twilight: #0e6ba8;
    --color-midnight: #030436;
    --color-dead-of-night: #010120;
    --color-dawn: #43afca;
    --color-sunrise: #a6e1fa;

    /* sun colors */
    --color-sun-outer: #e85d04;
    --color-sun-mid: #f48c06;
    --color-sun-inner: #ffba08;

    /* moon colors */
    --color-moon: #e0e1dd;
    --color-moon-crater: #ccd2da;
}

:root {
    background: var(--color-twilight);
    color: var(--color-text-primary);
}

/*
 * https://stackoverflow.com/questions/5687035/css-bolding-some-text-without-changing-its-containers-size 
 * basically prevents bold text from changing parent div size compared to normal text
 */
li::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}
